
ul {
  list-style: none;
}

.menu__title {
  font-family: Sylfaen;
  font-size: 48px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  width: 100%;
  position: relative;
}

.menu__title::after,
.menu__title::before {
  content: "";
  width: calc(50px + 15.8333333333vw);
  height: 1px;
  position: absolute;
  background-color: #FFF;
  top: 50%;
  transform: translateY(-50%);
}

.menu__title::after {
  right: 0;
}

.menu__title::before {
  left: 0;
}

.menu__dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__dishes-item {
  margin-top: 15px;
  font-family: Inter;
  font-size: 18px;
  text-align: center;
}

.menu__dishes-item:not(:first-child) {
  margin-left: 18px;
}

.menu__sub-title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  margin-top: 20px;
}

.menu__button {
  display: inline-block;
  margin: 30px 0;
  cursor: pointer;
  text-decoration: none;
}

.menu__button,
.menu__dishes-item {
  color: #FFF;
  padding: 8px 29px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.menu__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px !important;
}

.product {
  padding: calc(0px + 3.3333333333vw);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: grid;
}

.product__wrapper {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product__img {
  width: calc(0px + 15vw);
  height: calc(0px + 15vw);
  min-width: 149px;
  min-height: 149px;
  border: 1px solid #000;
  margin: 0 auto;
  border-radius: 50%;
  grid-column: 1/3;
}

.product__name {
  font-family: Inter;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #FFF;
  margin-top: 30px;
  grid-column: 1/3;
}

.product__weight {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  grid-column: 1/2;
}

.product__price {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  color: #FFF;
  grid-column: 1/2;
}

.product__button {
  background: #E9C100;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 992px) {
  .product__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .product__wrapper {
    grid-template-columns: 1fr;
  }

  .menu__title::before,
  .menu__title::after {
    width: calc(0px + 8.3333333333vw);
  }
}