.kit{
    font-family: didact, sans-serif;
    &__title{
        color: #FFF;
        font-size: calc(10px + 40 * (100vw/1200));
        font-weight: 400;
        text-align: center;
        width: 100%;
        position: relative;
    }
    &__title::after,&__title::before{
        content: '';
        width: calc(50px + 190 * (100vw/1200));
        height: 1px;
        position: absolute;
        background-color: #FFF;
        top:50%;
        transform: translateY(-50%);
    }
    &__title::after{
        right:0;
    }
    &__title::before{
        left:0;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 40px;
    }
    &__item{
        background: hsla(0,0%,100%,.2);
        border-radius: 20px;
        display: grid;
        justify-content: center;
        padding: 40px;
    }
    &__size {   
        color: #FFF;
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
        text-shadow: 0 4px 10px rgb(0 0 0 / 25%);
        grid-column: 1/3;
    }
    &__count {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        color: hsla(0,0%,100%,.8);
        margin-top: 40px;
        grid-column: 1/3;
    }
    &__button {
        background: #E9C100;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        font-family: 'Roboto';
        font-weight: 400;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        margin-left: auto;
        cursor: pointer;
        transition-duration: 0.3s;
        grid-column: 2/3;
    }
    &__button.active{
        width: 150px;
        height: 40px;
        border-radius: 20px;
        transition-duration: 0.3s;
        .state{
            &-1{
                display: none;
            }
            &-2{
                display: flex;
                width: 100%;
                height: 100%;
                >*{
                    flex-basis: 33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Inter, sans-serif;
                }
            }
        }
    }
    &__old-price {
        margin-top: 25px;
        text-decoration: line-through;
    }
    &__price {
        color: #FFF;
        grid-column: 1/2;
    }
    &__weight{
        margin-top: 40px;
        color: hsla(0,0%,100%,.8);
        grid-column:1/2;
    }
    &__href{
        display: block;
        padding: 12px 30px;
        background: rgba(0,0,0,0.4);
        border-radius: 20px;
        color: #FFF;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        text-align: center;
    }

    &__subtitle{
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        color: #fff;
    }
    
    &__img {
        border: 1px solid black;
        width: 250px;
        height: 250px;
        border-radius: 30px;
        grid-column: 1/3;
        margin: 0 auto;
        img{
            object-fit: cover;
        }
    }
}
.state {
    &-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-2 {
        display: none;
    }
}

@media (max-width: 768px){
    
    .kit__title::before, .kit__title::after{
        width: calc(0px + 100 * (100vw/1200) );
    }
}